http://www.quuxlabs.com/blog/2010/09/matrix-factorization-a-simple-tutorial-and-implementation-in-python/

In [1]:
import pandas as pd
import os

In [2]:
cur_dir = os.getcwd()
path = os.path.join(cur_dir,'dataset','train.csv')
path

'/data1/home/feynman52/ntu-ml/hw5/dataset/train.csv'

In [15]:
df_train = pd.read_csv( os.path.join(cur_dir,'dataset','train.csv') )
df_movies = pd.read_csv( os.path.join(cur_dir,'dataset','movies.csv'), sep='::' )
df_users = pd.read_csv( os.path.join(cur_dir,'dataset','users.csv'), sep='::' )
df_test = pd.read_csv( os.path.join(cur_dir,'dataset','test.csv') )
df_SampleSubmisson = pd.read_csv( os.path.join(cur_dir,'dataset','SampleSubmisson.csv') )

/data1/home/feynman52/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

/data1/home/feynman52/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:3: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
df_train

        TrainDataID  UserID  MovieID  Rating
0                 1     796     1193       5
1                 2     796      661       3
2                 3     796      914       3
3                 4     796     3408       4
4                 5     796     2355       5
5                 6     796     1197       3
6                 7     796     1287       5
7                 8     796     2804       5
8                 9     796      919       4
9                10     796      595       5
10               11     796      938       4
11               12     796     2398       4
12               13     796     2918       4
13               14     796     1035       5
14               15     796     2791       4
15               16     796     2687       3
16               17     796     2018       4
17               18     796     3105       5
18               19     796     2797       4
19               20     796     2321       3
20               21     796      720       3
21               22     796      527       5
22               23     796     2340       3
23               24     796       48       5
24               25     796     1097       4
25               26     796     1721       4
26               27     796     1545       4
27               28     796      745       3
28               29     796     2294       4
29               30     796     3186       4
...             ...     ...      ...     ...
899843       899844    2683     3703       4
899844       899845    2683     2762       4
899845       899846    2683     1036       3
899846       899847    2683      508       4
899847       899848    2683     1041       4
899848       899849    2683     3735       4
899849       899850    2683     2791       4
899850       899851    2683     2794       1
899851       899852    2683      527       5
899852       899853    2683     2003       1
899853       899854    2683      535       4
899854       899855    2683     2010       5
899855       899856    2683     2011       4
899856       899857    2683     3751       4
899857       899858    2683     2019       5
899858       899859    2683      541       4
899859       899860    2683     1077       5
899860       899861    2683     1079       2
899861       899862    2683      549       4
899862       899863    2683     2020       3
899863       899864    2683     2021       3
899864       899865    2683     2022       5
899865       899866    2683     2028       5
899866       899867    2683     1080       4
899867       899868    2683     1089       4
899868       899869    2683     1090       3
899869       899870    2683     1091       1
899870       899871    2683     1094       5
899871       899872    2683      562       5
899872       899873    2683     1097       4

[899873 rows x 4 columns]

In [16]:
df_movies

,movieID,Title,Genres
0,1,Toy Story (1995),Animation|Children's|Comedy
1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children's
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Animation|Children's
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Drama|Thriller
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Thriller
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action
20,21,Get Shorty (1995),Action|Comedy|Drama
21,22,Copycat (1995),Crime|Drama|Thriller
22,23,Assassins (1995),Thriller
23,24,Powder (1995),Drama|Sci-Fi
24,25,Leaving Las Vegas (1995),Drama|Romance
25,26,Othello (1995),Drama
26,27,Now and Then (1995),Drama
27,28,Persuasion (1995),Romance
28,29,"City of Lost Children, The (1995)",Adventure|Sci-Fi
29,30,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama
...,...,...,...
3853,3923,Return of the Fly (1959),Horror|Sci-Fi
3854,3924,Pajama Party (1964),Comedy
3855,3925,Stranger Than Paradise (1984),Comedy
3856,3926,Voyage to the Bottom of the Sea (1961),Adventure|Sci-Fi
3857,3927,Fantastic Voyage (1966),Adventure|Sci-Fi
3858,3928,Abbott and Costello Meet Frankenstein (1948),Comedy|Horror
3859,3929,"Bank Dick, The (1940)",Comedy
3860,3930,"Creature From the Black Lagoon, The (1954)",Horror
3861,3931,"Giant Gila Monster, The (1959)",Horror|Sci-Fi
3862,3932,"Invisible Man, The (1933)",Horror|Sci-Fi
3863,3933,"Killer Shrews, The (1959)",Horror|Sci-Fi
3864,3934,Kronos (1957),Sci-Fi
3865,3935,Kronos (1973),Horror
3866,3936,"Phantom of the Opera, The (1943)",Drama|Thriller
3867,3937,Runaway (1984),Sci-Fi|Thriller
3868,3938,"Slumber Party Massacre, The (1982)",Horror
3869,3939,"Slumber Party Massacre II, The (1987)",Horror
3870,3940,"Slumber Party Massacre III, The (1990)",Horror
3871,3941,Sorority House Massacre (1986),Horror
3872,3942,Sorority House Massacre II (1990),Horror
3873,3943,Bamboozled (2000),Comedy
3874,3944,Bootmen (2000),Comedy|Drama
3875,3945,Digimon: The Movie (2000),Adventure|Animation|Children's
3876,3946,Get Carter (2000),Action|Drama|Thriller
3877,3947,Get Carter (1971),Thriller
3878,3948,Meet the Parents (2000),Comedy
3879,3949,Requiem for a Dream (2000),Drama
3880,3950,Tigerland (2000),Drama
3881,3951,Two Family House (2000),Drama
3882,3952,"Contender, The (2000)",Drama|Thriller

In [17]:
df_users

      UserID Gender  Age  Occupation Zip-code
0        796      F    1          10    48067
1       3203      M   56          16    70072
2       4387      M   25          15    55117
3       4771      M   45           7    02460
4       1191      M   25          20    55455
5       2868      F   50           9    55117
6       1070      M   35           1    06810
7       5074      M   25          12    11413
8       5585      M   25          17    61614
9       3402      F   35           1    95370
10      5500      F   25           1    04093
11      1313      M   25          12    32793
12       329      M   45           1    93304
13      4145      M   35           0    60126
14      5815      M   25           7    22903
15        57      F   35           0    20670
16      3531      M   50           1    95350
17      1726      F   18           3    95825
18      2287      M    1          10    48073
19      3367      M   25          14    55113
20      4513      M   18          16    99353
21       502      M   18          15    53706
22       255      M   35           0    90049
23       417      F   25           7    10023
24      2894      M   18           4    01609
25       791      M   25           7    23112
26      3738      M   25          11    19130
27      4988      F   25           1    14607
28      4681      M   35           7    33407
29      3781      F   35           7    19143
...      ...    ...  ...         ...      ...
6010    5263      M   35          15    80538
6011    1011      M   35          15    02871
6012     238      F   25          20    32301
6013    2668      M   45           1    80634
6014    2888      F   25           9    80013
6015    5356      M   45           1    37209
6016    1839      F   35           7    21117
6017    2341      M   35           1    48906
6018    4400      M   25           0    10024
6019    4927      M   50          16    10023
6020    3731      M   25          12    08876
6021    1876      M   25          17    57006
6022    2032      M   25           0    43213
6023    2165      M   25          12    53705
6024    1680      F   25           1    32607
6025    4561      M   35           6    11210
6026    1424      M   18           4    20742
6027    1204      M   18           4    94133
6028    1152      F   25           1    23185
6029    5457      M   25          17    32618
6030    5471      F   18           0    45123
6031    5738      M   45           7    55108
6032    4151      M   50          13    78232
6033    5964      M   25          14    94117
6034    2737      F   25           1    78734
6035     259      F   25          15    32603
6036    1719      F   45           1    76006
6037    3422      F   56           1    14706
6038    2559      F   45           0    01060
6039    2683      M   25           6    11106

[6040 rows x 5 columns]